<p>recipes-list works!</p>

<section>
  <h3>Selección de filtros</h3>

  <label>
    Por nombre:
    <input type="radio" name="filter" value="Name" [(ngModel)]="filterType" />
  </label>
  <label>
    Por nivel de dificultad:
    <input type="radio" name="filter" value="Difficulty" [(ngModel)]="filterType" />
  </label>
  <p>El tipo de filtro seleccionado es: {{ filterType }}</p>

  @if (filterType === 'Name') {
    <div>
      <label>
        Nombre a buscar:
        <input type="text" placeholder="Ingrese el nombre de la receta" [(ngModel)]="_name" />
      </label>
      <p>El valor actual del input por búsqueda de nombre es: {{ _name }}</p>
    </div>
  }

  @if (filterType === 'Difficulty') {
    <div>
      <label>
        Opciones de dificultad:
        <select [(ngModel)]="_difficulty">
          <option value="">Seleccione una opción</option>
          <option value="easy">Fácil</option>
          <option value="medium">Medio</option>
        </select>
      </label>
      <p>El valor actual del input por dificultad es: {{ _difficulty }}</p>
    </div>
  }

  <button (click)="filterRecipes()">Filtrar</button>
</section>

<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>DIFFICULTY</th>
    <th>ACTIONS</th>
  </tr>
  @for (i of _recipesListFilter; track i.id) {
    <tr>
      <td>{{ i.id }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.difficulty }}</td>
      <td>
        <a [routerLink]="['/recipes-detail', i.id]">View details (from tag a) </a>
        <button (click)="viewDetails(i.id)">View details (from function)</button>
      </td>
    </tr>
  } @empty {
    <tr>
      <td colspan="4">No se encontraron recetas con los filtros aplicados.</td>
    </tr>
  }
</table>
